@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v24-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
}
*,
*::before,
*::after {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 2rem;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e4ddda;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to left bottom, #f6e2ed, #f6e8f2, #f6edf7, #f8f3fa, #faf8fd, #faf8fe, #faf7fe, #faf7ff, #f8f0ff, #f6e9ff, #f6e2ff, #f7daff);
}

html,
body,
:root {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

.main-container {
  min-height: 100%;
}

.button {
  max-width: 183px;
  width: 100%;
  border-radius: 4px;
  padding: 1rem 1.875rem;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: all ease 150ms;
}

.home-button {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.primary-btn {
  border: 1px solid #fff;
  background: #3e9cdc;
  color: #fff;
}

.primary-btn:hover {
  background: rgb(50, 142, 204);
}

.secondary-btn {
  border: 1px solid #6f6d7b;
  background: #fff;
  color: #000;
}

.secondary-btn:hover {
  background: #3e9cdc;
  border: 1px solid #fff;
  color: #fff;
}

.navbar {
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.navbar-container {
  max-width: 59vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.navbar-logo {
  max-width: 247px;
  width: 100%;
}

.navbar-logo__link {
  display: inline-block;
  text-decoration: none;
}

.navbar-logo__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.menu-icon {
  cursor: pointer;
  max-width: 24px;
}

.menu-close__icon {
  width: 100%;
  height: auto;
}

.nav-list {
  display: flex;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem;
}

.nav-list__item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  line-height: normal;
  text-transform: uppercase;
  transition: all ease 150ms;
}

.nav-link:hover {
  color: #3e9cdc !important;
}

.nav-link.active {
  color: #3e9cdc;
}

.bx-menu {
  font-size: 24px;
  color: #fff;
}

.menu-close {
  z-index: 1;
}

.bx-x {
  font-size: 24px;
  color: #fff;
}

.fade-in {
  animation: fade-in 0.5s ease forwards;
}

.fade-out {
  animation: fade-out 0.5s ease forwards;
}

@keyframes fade-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.home {
  position: relative;
  width: 100%;
  background-color: #fff;
  background-image: url("../assets/images/hero-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 12.7rem;
}

.home-container {
  max-width: 59vw;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: auto;
  row-gap: 5vw;
}

.home__title {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.home-subtitle {
  color: #3e9cdc;
}

.list-title {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
}

.text-list {
  list-style-type: none;
  padding-left: 20px;
}

.text-list__item {
  position: relative;
  color: #000;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}

.text-list__item::before {
  position: absolute;
  top: 0;
  left: -15px;
  content: "-";
}

.order {
  position: relative;
  background-color: #3d4050;
  background-image: url("../assets/images/order-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 8vw 0;
}

.order-container {
  max-width: 100%;
  margin-inline: auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1.875rem;
  margin-inline: auto;
  padding-bottom: 2.75rem;
}

.order-text__title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.order-text__name {
  color: #3e9cdc !important;
}

.order-text__subtitle {
  color: #bbb;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}

.order-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: 1rem;
  gap: 1.875rem;
}

.preview-box {
  position: relative;
}

.order-preview__item {
  max-width: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
  padding-inline: 10px;
  margin: 0;
}

.preview-item__image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #3e9cdc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.preview-item__image::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 5px solid #286690;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(40, 102, 144, 0.6);
  transition: border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform-origin: center;
  box-sizing: border-box;
}

.preview-item__image:hover::before {
  border-color: #286690;
  box-shadow: 0 0 30px rgba(40, 102, 144, 0.8);
  transform: rotate(45deg);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.preview-item__title {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.circle {
  position: absolute;
  top: 30%;
  display: flex;
  gap: 17px;
}

.circle1 {
  right: -30%;
}

.circle2 {
  right: -27%;
}

.circle3 {
  right: -36%;
}

.circle4 {
  right: -30%;
}

.small-circle {
  width: 5px;
  height: 5px;
  background-color: rgb(173, 161, 161);
  border-radius: 50%;
}

.order-form {
  max-width: 61vw;
  width: 100%;
  margin-inline: auto;
  padding-top: 4rem;
  display: flex;
  gap: 1.875rem;
  justify-content: center;
}

.custom-select {
  position: relative;
  max-width: 370px;
  width: 100%;
  cursor: pointer;
}

.select-header {
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
}

.select-header__title {
  color: #272733;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}

.select-box {
  display: grid;
  grid-template-rows: 0;
  max-height: 225px;
  transition: grid-template-rows ease 0.5s;
}

.arrow-down {
  position: absolute;
  top: 8px;
  right: 5px;
  margin-left: 5px;
}

.arrow-down__icon {
  width: 30px;
  height: 30px;
  transition: transform ease 200ms;
}

.select-options {
  background: #272733;
  border: 1px solid #fff;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: -1px;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 350ms ease;
  scrollbar-width: thin;
  scrollbar-color: #888 #272733;
}

.select-options__item {
  background-color: transparent;
  padding: 10px 5px 10px 15px;
  color: #fff;
  font-size: 1.25rem;
  transition: all ease 300ms;
  opacity: 0;
}

.select-options__item:hover {
  color: #3e9cdc;
}

.select-options::-webkit-scrollbar {
  width: 10px;
}

.select-options::-webkit-scrollbar-thumb {
  background-color: #3e9cdc;
  border-radius: 10px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.select-options::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.select-options::-webkit-scrollbar-track {
  background: #272733;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.form-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 2.5rem;
  margin-inline: auto;
}

.form-group {
  position: relative;
  max-width: 370px;
  width: 100%;
  border-radius: 3px;
  height: 48px;
  display: flex;
}

.form-group__label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: #272733;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  transition: transform 0.6s, font-size 0.6s, color 0.6s;
  transform: translateY(-50%) scale(1);
  pointer-events: none;
}

.form-group__input {
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.85);
  width: 100%;
  padding: 10px;
}

.line-box {
  max-width: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.line-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-title__desc {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
}

.line-title__percent {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}

.line-image__box {
  position: relative;
  width: 100%;
}

.line {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 6px;
  transition: all ease 150ms;
}

.line:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.line-image__circle {
  position: absolute;
  top: -15px;
  right: 24%;
  cursor: pointer;
  transition: all ease 150ms;
}

.line-image__circle:hover {
  opacity: 0.9;
}

.file-control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.875rem;
}

.form-group__container {
  position: relative;
  background: #fff;
  overflow: hidden;
  max-width: 370px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 2px solid #3e9cdc;
  cursor: pointer;
}

.file-label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.label-file__icon {
  max-width: 17.143px;
  width: 100%;
  height: auto;
}

.form-group__label-text {
  color: #272733;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
}

.form-group__input-file {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.form-group__input-file-label {
  position: relative;
  z-index: 1;
  padding: 5px 10px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.form-button {
  width: 100%;
  margin-top: 3.1rem;
  text-align: center;
}

.form-btn {
  max-width: 370px;
  width: 100%;
  border: 1px solid #fff;
  background: #3e9cdc;
  color: #fff;
}

.form-btn:hover {
  background: rgb(50, 142, 204);
}

.form-btn:disabled {
  background: #ccc;
  color: #888;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

.footer {
  background: #3d4050;
  padding-block: 10px;
}

.copyright-box {
  position: relative;
  padding-right: 2.5rem;
}

.copyright-box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: #c3c3c3;
  width: 1px;
  height: 18px;
}

.copyright-box__inner {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  transition: all ease-in 150ms;
}

.wallet-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2.375rem;
  padding-inline: 2.5rem;
}

.wallet-box {
  cursor: default;
}

.wallet-box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: #c3c3c3;
  width: 1px;
  height: 18px;
}

.wallet-item {
  display: flex;
  align-items: center;
  color: #c3c3c3;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 0;
  transition: all ease-in 150ms;
}

.wallet-item:hover {
  transform: translateY(-3px);
  color: #fff;
}

.wallet-item__image {
  max-width: 20px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.wallet-item__name {
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  white-space: nowrap;
  transition: all ease-in-out 150ms;
}

.address-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2.375rem;
  padding-inline: 2.5rem;
}

.address-item {
  display: flex;
  align-items: center;
  color: #c3c3c3;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 0;
  transition: all ease-in 150ms;
  cursor: pointer;
}

.address-item:hover {
  transform: translateY(-3px);
  color: #fff;
}

.address-item__image {
  max-width: 20px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.address-item__wrapper {
  display: inline-block;
  line-height: 1;
}

.address__link {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  white-space: nowrap;
  transition: all ease-in-out 150ms;
}

.footer-container {
  max-width: 72vw;
  margin-inline: auto;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  background: rgba(16, 16, 29, 0.775);
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}

.loader-title {
  display: none;
}

.loader-circle {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-top-color: rgb(52, 152, 219);
  border-radius: 50%;
  animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1440px) {
  .navbar-container,
  .home-container {
    max-width: 69vw;
  }
  .order-form,
  .footer-container {
    max-width: 80vw;
  }
}
@media (max-width: 1200px) {
  .home {
    padding-block: 14.7vw;
  }
  .navbar-container,
  .home-container,
  .order-form,
  .footer-container {
    max-width: 100%;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .copyright-box {
    padding-inline: 1rem;
  }
  .copyright-box::before {
    display: none;
  }
  .wallet-wrapper {
    padding-inline: 1rem;
  }
  .wallet-box::before {
    display: none;
  }
  .address-box {
    padding-inline: 1rem;
  }
}
@media (max-width: 992px) {
  .navbar {
    height: 80px;
  }
  .nav-list {
    background-color: #fff;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-inline: 5px;
    padding: 10px 20px;
    border-radius: 3.125rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-500px);
  }
  .nav-list__item {
    padding: 1rem;
  }
  .nav-link {
    color: #000;
  }
  .home__title {
    font-size: 2.5rem;
  }
  .form-control {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    width: 250px;
    min-height: 100vh;
    background-color: rgb(16, 16, 29);
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    padding: 1.25rem;
    transform: translateX(100%);
  }
  .nav-link {
    font-size: 1rem;
    color: #fff;
  }
  .home {
    padding-block: 16.7vw;
    padding-bottom: 10vw;
  }
  .order-text__title {
    font-size: 2rem;
  }
  .form-control {
    flex-wrap: wrap;
    justify-content: center;
  }
  .file-control {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .button {
    max-width: 140px;
  }
  .home-button {
    gap: 1.25rem;
  }
  .navbar {
    height: 65px;
  }
  .navbar-logo {
    max-width: 180px;
  }
  .menu-icon {
    max-width: 18px;
  }
  .home {
    min-height: auto;
    background-position: right;
    padding: 0;
  }
  .home:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right top, rgba(5, 25, 55, 0.4196078431), rgba(23, 18, 40, 0.4509803922), rgba(25, 10, 26, 0.4509803922), rgba(18, 4, 13, 0.4392156863), rgba(0, 0, 0, 0.3803921569));
    z-index: 0;
  }
  .home-container {
    position: relative;
    background: rgba(16, 16, 29, 0.35);
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .home-text {
    align-items: flex-start;
  }
  .home__title {
    font-size: 2.2rem;
    color: #fff;
  }
  .home-button {
    justify-content: flex-start;
  }
  .list-title {
    font-size: 1.125rem;
    color: #fff;
  }
  .text-list__item {
    font-size: 1.125rem;
    color: #fff;
  }
  .form-control {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .line-title {
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
  }
  .button {
    padding: 0.8rem 1.5rem;
  }
  .wallet-wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1155px) {
  .circle4 {
    display: none;
  }
}
@media (max-width: 922px) {
  .circle4 {
    display: flex;
  }
  .circle3 {
    display: none;
  }
}
@media (max-width: 689px) {
  .circle2 {
    display: none;
  }
  .circle3 {
    display: flex;
  }
  .circle4 {
    display: none;
  }
}
@media (max-width: 477px) {
  .order-preview {
    flex-direction: column;
  }
  .circle {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */